.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__icon {
  height: 70px;
  margin-left: 20px;
  object-fit: contain;
}
.header___center {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 999px;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
}
.header___center > input {
  border: none;
  width: 20vw;
  padding: 10px;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 40px;
}

.header__avatar:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 680px) and (-webkit-min-device-pixel-ratio: 2) {
  .header__right {
    display: none;
  }
  .header___center {
    margin-right: 10px;
  }
}
